/* Define a @font-face rule for the Poppins font family (100 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (200 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (300 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (400 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (500 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (600 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (700 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (800 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Define a @font-face rule for the Poppins font family (900 weight) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
